
@{
    ViewData["Title"] = "Movie List";
}
<button type="button" class="btn btn-secondary btn-lg" asp-action="Create" asp-area="Admin" asp-controller="Movies">
    <i class="bi bi-plus-circle-dotted"></i>
    ADD New Movie 
</button>
